@model IEnumerable<ASP_Project.Models.Course>
@{
	ViewData["Title"] = "Courses";
}

<h2>Courses</h2>


<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.CodeID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NumOfCredits)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.CodeID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NumOfCredits)
				</td>
				<td>
					<a asp-controller="Teacher" asp-action="EditCourse" asp-route-Code="@item.CodeID">EditCourse</a>
				</td>
			</tr>
		}
	</tbody>
</table>